body::before {
    display: block;
    content: '';
    height: 60px;
}
.color-secundario-bg {
    background-color: rgb(99, 61, 96);
}

.color-secundario {
    color: rgb(99, 61, 96);
}

.navbar-text {
    color: white;
}
.accordion-button {
    color: white;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}   
@media(max-width: 575px) {
    .img-perfil{
        width: 100% !important;
    }
}